# --------------------
# IntelliJ Files
# --------------------
*.iml
*.ipr
*.iws
.idea/
# --------------------
# Bower Files
# --------------------
.bower-*/
bower_components

# --------------------
# Node Files
# --------------------
.nodemonignore
npm-debug.log
node_modules/

# --------------------
#Build Files
# --------------------
dist/build
